.contact-section {
    padding: 32px;
    display: flex;
    justify-content: center;
   text-align: center;
    gap: 24px;
    background: linear-gradient(to right, #ECF2FF, #FBFCFF);
}
/* Text */
.contact-text-content {
    width: 100%;
}
.contact-title {
    margin: 15px 0;
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.contact-title > span {
    position: relative;
}

.contact-title span::before {
    content: '';
    position: absolute;
    width: 75%;
    height: 4px;
    background-color: #f39e30;
    border-radius: 8px;
    left: 0;
    bottom: -12px;
}

.contact-text-desc {
    margin-top: 34px;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: .7px;
    line-height: 2.6rem;
}

.contact-text-number{
    margin-top: 50px;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
}

.contact-text-addr{
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
}

.contact-text-format {
    margin: 5px 0;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
}

.contact-text-email{
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: 'Rubik', sans-serif;
}

.message{
    padding: 7px 20px;
    text-decoration: none;
    color: white;
    border: 1px solid transparent;
    border-radius: 28px;
    outline: transparent;
    background-color: #f39e30;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: .8px;
    cursor: pointer;
    transition: all .4s ease;
}

.message:hover{
    color: #f39e30;
    background-color: white;
    border: 1px solid #f39e30;
}

.register{
    margin-top: 25px;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    letter-spacing: .8px;
}

/* Responsive */
@media screen and (max-width: 700px) {
    .review-section {
        letter-spacing: .8px;
    }
    .rw-text-title {
        font-size: 22px;
    }
    .rw-text-desc {
        font-size: 28px;
    }
    .rw-review {
        font-size: 22px;
        letter-spacing: .7px;
        line-height: 1.8rem;
    }
    .rw-reviewer-name {
        font-size: 20px;
    }
    .rw-next-btn {
        margin: 0 16px 0 0;
        font-size: 40px;
    }
}
